SUPABASE_URL=https://ostpadtczwwigbwuhedp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zdHBhZHRjend3aWdid3VoZWRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzMDUxMTksImV4cCI6MjA5NTg4MTExOX0.6HHJKmY2qcjt8b16KrUKR2APrjWkHTLuARuvrERGg44
